node_modules
Castalia/Castalia/out/**
Castalia/Castalia/bin/**
.idea
Castalia/Castalia/CastaliaBin
Castalia/Castalia/Simulations/*/*.txt
Castalia/Castalia/Simulations/*/*/*.txt
Castalia/Castalia/Simulations/server/archive/*
Castalia/Castalia/Simulations/server/dist/
visualizer/public/
*.iml