node_modules
Castalia/Castalia/out/**
.idea
Castalia/Castalia/CastaliaBin
Castalia/Castalia/Simulations/*/*.txt
Castalia/Castalia/Simulations/server/archive/*
Castalia/Castalia/Simulations/server/dist/
visualizer/public/
*.iml
Castalia/Castalia/Makefile
Castalia/Castalia/Simulations/server/package-lock.json
visualizer/package-lock.json
